<h1><%= t('conversation_with') %> <%= @conversation.receiver == current_user ? @conversation.sender.username : @conversation.receiver.username %></h1>

<div>
  <% @messages.each do |message| %>
    <% if message.user %>
      <p>
        <strong><%= message.user.username %>:</strong>
        <%= message.body %>
        <br/>
        <%= l(message.created_at, format: :default) %>
      </p>
    <% end %>
  <% end %>
</div>

<%= form_with(model: [@conversation, @message], url: conversation_messages_path(@conversation, locale: I18n.locale), local: true) do |form| %>
  <%= form.text_area :body %>
  <%= form.submit t('send') %>
<% end %>
